<h1>News</h1>
<div *ngFor="let new of news">
    <div class="card border border-secondary mb-1" *ngIf="!new.archived">
        <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <div class="text-right"><small>{{new.date | date:'longDate'}} </small></div>
            <div class="card-text"><small> {{new.description}}</small></div>
            <p class="card-text">{{new.content}}</p>
            <div class="text-right">
                <span><small class="text-muted">Author: {{new.author}} </small></span>
                <span><small class="text-muted"> Archive Date: {{new.archiveDate | date:'mediumDate'}}</small></span>
            </div>
            <a class="btn btn-outline-primary text-primary" (click)="archiveNew(new)">Archive</a>
        </div>
    </div>
</div>