<h1>Archived</h1>
<div *ngFor="let new of news">
    <div class="card border-secondary mb-1" *ngIf="new.archived && !new.removed">
        <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <div class="text-right"><small>Archive Date: {{new.archiveDate | date:'mediumDate'}} </small></div>
            <div class="card-text"><small> {{new.description}}</small></div>
            <p class="card-text">{{new.content}}</p>

            <div class="text-right">
                <span><small class="text-muted">Author: {{new.author}} </small></span>
                <span><small class="text-muted"> {{new.date | date:'longDate'}}</small></span>
            </div>
            <a class="btn btn-outline-danger text-danger" (click)="removeNew(new)">Remove</a>
        </div>
    </div>
</div>